*{
    margin: 0;
    padding: 0;
    list-style: none;
}
html, body {
    position: relative;
    width:100%;
    height: 100%;
    overflow: hidden;
}

.swiper-container {
    width: 100%;
    height: 100%;
}



.one{background-image: url("../images/body.gif");}
.one img:nth-child(2){width:5.57rem;height:5.82rem;position: absolute;top:1rem;left:0.4rem;}
.one img:nth-child(3){width:2.15rem;height:2.15rem;position: absolute;left:2rem;top:2.3rem;transform-origin: 50% 50%;
animation:xuanzhuan 3s linear infinite;}
@keyframes xuanzhuan {
    0%{transform:rotate(0deg)}
    100%{transform:rotate(360deg)}
}

.one img:nth-child(4){width:2.83rem;height:0.4rem;position: absolute;left:1.5rem;bottom:2rem;animation: kang 1s linear infinite;}
@keyframes kang {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.one p:nth-of-type(1){font:0.4rem "Î¢ÈíÑÅºÚ";color:#fff;font-weight: bold;position: absolute;left:0.7rem;top:1.3rem;}
.one p:nth-of-type(1) span:nth-child(2){padding-left: 4rem;}

.one p:nth-of-type(2){font:0.4rem "Î¢ÈíÑÅºÚ";color:#fff;font-weight: bold;position: absolute;left:0.7rem;top:6rem;}
.one p:nth-of-type(2) span:nth-child(2){padding-left: 4rem;}

.one p:nth-of-type(3){font:0.32rem "Î¢ÈíÑÅºÚ";color:#fff;font-weight: bold;position: absolute;left:1.5rem;bottom: 3rem;}


.two{background-image: url("../images/body.gif");}
.two div:nth-of-type(1){background-image: url("../images/san.png");height:0.53rem;width:100%;position: absolute;top:0;left:0; }
.two img:nth-child(1){width:5.44rem;height:7.1rem;position: absolute;left:0.4rem;top:2rem;}
.two div:nth-of-type(2) p{font:16px "Î¢ÈíÑÅºÚ";color:#fff;font-weight: bold;padding-top:0.4rem;text-align: left;}
.two div:nth-of-type(2){position: absolute;left:1rem;top:3rem;}
.two div h1{font:0.5rem "Î¢ÈíÑÅºÚ";color:#fff;}
.two img:nth-child(3){position: absolute;top:2rem;left: 0.6rem;animation: shan 1s linear infinite;}
.two img:nth-child(4){position: absolute;top:2.3rem;left: 0.6rem;}
.two img:nth-child(5){position: absolute;top:2.3rem;left: 5rem;}
.two img:nth-child(6){position: absolute;top:2.7rem;left: 5rem;}
@keyframes shan {
    0%{opacity:0;}
    100%{opacity:1;}
}


.three{background-image: url("../images/body.gif");}
.three img:nth-child(2){width:5.44rem;height:9rem;position: absolute;left:0.4rem;top:1rem;}
.three div{position: absolute;top:1.3rem;left:0.4rem;}
.three div h1{font:0.5rem "Î¢ÈíÑÅºÚ";color:#fff;padding-bottom:0.2rem;font-weight: bold;padding-left:0.8rem;}
.three div p{font:0.42rem "Î¢ÈíÑÅºÚ";color:saddlebrown;padding-top:0.6rem;padding-left:1.5rem;font-weight: bold;}
.three div img:nth-of-type(1){width:2rem;height:0.3rem;animation: kang 1s linear infinite;padding-left:0.5rem;}
.three div p:nth-of-type(1){padding-top:1.5rem;}


.four{background-image: url("../images/body_2.jpg");background-size:100% 100%;}
.four h1{font:0.5rem "Î¢ÈíÑÅºÚ";color:#fff;font-weight: bold;position: absolute;top:0.8rem;left:0.3rem;}
.four p{font:0.32rem "Î¢ÈíÑÅºÚ";color:#fff;font-weight: bold;padding:0 0.1rem;line-height: 200%;position: absolute;left:0;top:4rem;}

.five{background-image: url("../images/body_3.gif");background-size: 100% 100%;}
.five h1{font:0.5rem "Î¢ÈíÑÅºÚ";color:#fff;font-weight: bold;position: absolute;top:0.5rem;left:0.3rem;}
.img_1{width:2rem;height:2.5rem;position: absolute;left:0;top:3rem;transform:rotate(30deg);display: inline-block;}
.img_2{width:2rem;height:2.5rem;transform:rotate(30deg);position: absolute;left:2rem;top:3rem;}
.img_3{width:2rem;height:2.5rem;transform:rotate(30deg);animation: shan 0.5s linear infinite;position: absolute;left:3.5rem;top:3rem;}
@keyframes shan {
    0%{opacity:0;}
    100%{opacity:1;}
}
.five a:last-child{font:0.32rem "Î¢ÈíÑÅºÚ";color:darkred;font-weight: bold;display: block;position: absolute;left:2rem;top:9rem;}


.six{background-image: url("../images/hhhhh.jpg");width:100%;height:100%;}
.six p{font:0.32rem "Î¢ÈíÑÅºÚ";color:#fff;font-weight: bold;padding-top:0.2rem;}
.six div{text-align: center;margin-top:4rem;}


.swiper-container .music{width:0.5rem;height:0.5rem;position: fixed;
    top:0.2rem;right:0.2rem;z-index: 2;
}




